@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    background-color: #aea9a9;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main {
    max-width: 100%;
}

.header {
    background-color: blue;
    padding: 10px;
}

.headerContent h1 {
    text-align: center;
    color: white;
}

.mainWrap {
    display: flex;
    margin: 20px;

}

.sub-header {
    display: flex;
    flex-direction: row;
    background-color: #3f3f3f;
    width: 100%;
}

.subHeadContent a {
    color: white;
    text-decoration: none;
}

a {
    color: rgb(148, 39, 39);
    text-decoration: none;
}
/* a:hover {
    color: white;
} */

/* a:visited {
    color: white;
    text-decoration: none;
} */

.subHeadContent a:visited {
    color: white;
    text-decoration: none;
}

.subHeadContent {
    padding: 14px 0px;
    width: 100%;
    color: white;
    font-size: larger;
    text-align: center;
}

.aboutContent {
    width: 65%;
    /* margin: 20px 0px 0px 40px; */
    /* border: 1px solid #777777; */
}

.aboutHeader {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.aboutHeader h2 {
    margin: 0;
}

.aboutlocwri {
    border: 2px solid #929292;
}

/* .aboutlocwri img {
    width: 180px;    
} */
.aboutWrit {
    display: flex;
    padding: 20px;
}

.aboutWrit img {
    width: 180px;
    height: 170px;

}

.aboutWrit p {
    padding: 10px;
}

.location {
    text-align: center;
}

.aboutLoca {
    display: flex;
    padding: 20px;
}

.aboutLoca img {
    width: 180px;
    height: 150px;
    margin-top: 27px;
}

.aboutLoca p {
    padding: 10px;
}

.webDev {
    width: 35%;
    /* margin: 20px 0px 10px 10px; */
    border: 2px solid #929292;
    margin: 0px 0px 0px 20px;
}

.devlink {
    display: flex;
    justify-content: center;
}

.linkwrap {
    margin-top: 100px;

}

.footerContent {
    background-color: blue;
    color: white;
    padding: 40px;
    text-align: center;
}