body {
margin: 0;
font-family: Arial, sans-serif;
background: #f8f9fa;
}

header {
background: #003366;
color: white;
padding: 1rem;
text-align: center;
}

nav {
margin-top: 1rem;
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
}

button {
background: #0059b3;
color: white;
border: none;
padding: 0.5rem 1rem;
border-radius: 6px;
cursor: pointer;
}

button:hover {
background: #003d80;
}

.card-grid {
padding: 1rem;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
gap: 1rem;
}

.card {
background: white;
border-radius: 8px;
padding: 1rem;
box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.card img {
width: 100%;
height: auto;
border-radius: 6px;
}

footer {
  background-color: #083c5b;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;




const temples = [
dedicated: "2020, May, 2",
area: 6861,
imageUrl: "https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/yigo-guam/400x250/yigo_guam_temple_2.jpg"
},
{
templeName: "Washington D.C.",
location: "Kensington, Maryland, United States",
dedicated: "1974, November, 19",
area: 156558,
imageUrl: "https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/washington-dc/400x250/washington_dc_temple-exterior-2.jpeg"
},
{
templeName: "Lima Perú",
location: "Lima, Perú",
dedicated: "1986, January, 10",
area: 9600,
imageUrl: "https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/lima-peru/400x250/lima-peru-temple-evening-1075606-wallpaper.jpg"
},
{
templeName: "Mexico City Mexico",
location: "Mexico City, Mexico",
dedicated: "1983, December, 2",
area: 116642,
imageUrl: "https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/mexico-city-mexico/400x250/mexico-city-temple-exterior-1518361-wallpaper.jpg"
},
{
templeName: "Rome Italy Temple",
location: "Rome, Italy",
dedicated: "2019, March, 10",
area: 40000,
imageUrl: "https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/rome-italy/400x250/rome-italy-temple-2192510.jpg"
},
{
templeName: "Paris France Temple",
location: "Paris, France",
dedicated: "2017, May, 21",
area: 44000,
imageUrl: "https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/paris-france/400x250/paris_france_temple.jpeg"
},
{
templeName: "Durban South Africa Temple",
location: "Durban, South Africa",
dedicated: "2020, February, 16",
area: 19800,
imageUrl: "https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/durban-south-africa/400x250/durban-south-africa-temple.jpeg"
}
];
