
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
}

header {
  background: #083c5b;
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header h1 {
  margin: 0;
  font-size: 1.4rem;
}

#menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#nav-menu {
  display: none;
  flex-direction: column;
  background: #083c5b;
  width: 100%;
}

#nav-menu a {
  padding: 12px;
  text-decoration: none;
  color: white;
  border-top: 2px solid #083c5b;
}

#nav-menu a:hover {
  background: #1a6b8b;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.temple-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

figure {
  background: white;
  padding: 10px;
  border-radius: 8px;
}

figure img {
  width: 100%;
  border-radius: 6px;
}

figcaption {
  text-align: center;
  margin-top: 8px;
}

footer {
  background-color: #083c5b;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;}